{
  box-sizing: border-box;
  }
  
  body {
  background-color:#242424 ;
  font-family: 'Open Sans', sans-serif;
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
  margin: 0;
  }
  
  .container {
  background-color:#cd4699;
  border-radius: 5px;
  box-shadow: 0 2px 5px rgba(0,0,0,0.3);
  width: 400px;
  max-width: 100%;
  
  }
  .header {
  background-color:blue ;
  border-bottom: 1px solid blue;
  padding: 20px 40px;
  }