:root {
  font-family: Helvetica, Arial, sans-serif;
  font-size: 16px;
  line-height: 24px;
  font-weight: 400;


  color: rgba(255, 255, 255, 0.87);
  background-color: #cc4343;


  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

a {
  font-weight: 500;
  color: #1e512f;
  text-decoration: inherit;
}
a:hover {
  color: #1923e6;
}
  
  body {
  background-color:#4eb6ba ;
  font-family: 'Open Sans', sans-serif;
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
  margin: 0;
  }
  
  .container {
  background-color:#cd4699;
  border-radius: 5px;
  box-shadow: 0 2px 5px rgba(0,0,0,0.3);
  width: 400px;
  max-width: 100%;
  
  }
  .header {
  background-color:rgb(26, 83, 39) ;
  border-bottom: 1px solid blue;
  padding: 20px 40px;
  }